<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if paciente %}
    <ul>
    {% for paciente in paciente %}
        <li>Nombre: {{paciente.nombre}}</li>
        <li>Edad: {{paciente.edad}}</li>
    {%endfor%}
    </ul>
    {% else %}
        <p>No se encontro el paciente</p>
    {% endif %}
    
</body>
</html>